<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ethz.inf.vs.fstreun.payapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PublishGroupActivity"
            android:parentActivityName=".GroupActivity" />
        <activity
            android:name=".JoinGroupActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GroupActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_group"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactionCreationActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".GroupActivity" />
        <activity
            android:name=".CreateGroupActivity"
            android:parentActivityName=".MainActivity" />

        <service
            android:name="ch.ethz.inf.vs.fstreun.network.SessionPublishService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="ch.ethz.inf.vs.fstreun.network.SessionSubscribeService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".DataService" />

        <activity android:name=".TransactionListActivity">
            android:configChanges="orientation|screenSize"
        </activity>
        <activity android:name=".TransactionInfoActivity"></activity>
    </application>

</manifest>